@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource/alice";
@import "@fontsource/poppins";
@import "@fontsource/maple-mono";

/* Plugins */
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
